<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="canonical" href="{{ page.url | url | absoluteUrl(site.url) }}">
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="Feed">
        <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
        <meta name="author" content="{{ author or site.author }}">
        <meta name="theme-color" content="#000">
        {% set pageTitle = title + ' - ' + site.title %}
        {% if site.title === title %}
            {% set pageTitle = title %}
        {% endif %}
        <title>{{ pageTitle }}</title>

        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/pagefind/pagefind-ui.css" vite-ignore>

        <link rel="icon" type="image/x-icon" href="{{ '/images/favicons/favicon.ico' | url }}">
        <link rel="icon" type="image/png" href="{{ '/images/favicons/favicon-32x32.png' | url }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ '/images/favicons/favicon-16x16.png' | url }}" sizes="16x16">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicons/apple-touch-icon.png' | url }}">

        <meta property="og:site_name" content="{{ site.title }}">
        <meta property="og:title" content="{{ title or site.title }}">
        <meta property="og:url" content="{{ absolutePageUrl }}">
        <meta property="og:locale" content="{{ site.locale }}">
        <meta property="og:type" content="website">
        {% set desc = description %}
        {% if not desc %}
            {% set desc = content | striptags | truncate(140) %}
        {% endif %}
        {% if desc %}
        <meta name="description" content="{{ desc | escape }}">
        <meta property="og:description" content="{{ desc | escape }}">
        {% endif %}
        {% if not socialImage %}
            {% set socialImage = site.defaultSocialImage %}
        {% endif %}
        {% if socialImage %}
        <meta property="og:image" content="{{ image | url | absoluteUrl(site.url) }}">
        <meta property="og:image:alt" content="Page image for {{ site.title }}">
        {% endif %}
    </head>
    <!-- THEME COLORS GRAY950 NEUTRAL900 GREEN950 EMERALD950 ZINC200-->
    <body class="bg-zinc-200 text-gray-950">
        <a href="#main-content" class="bg-green-950 text-zinc-200 absolute left-0 top-0 p-2 z-50 transform -translate-y-full focus:translate-y-0 transition">Skip to content</a>
        <header>
            <nav class="flex items-center justify-center flex-col md:flex-row md:justify-between p-6 lg:px-8 max-w-7xl mx-auto">
                <a href="/" aria-label="{{ site.title }} - Home">
                    <span class="text-lg font-semibold whitespace-nowrap">11ty Blog Template</span>
                </a>
                <div class="bg-zinc-300 md:bg-zinc-200 py-2 fixed bottom-0 md:bottom-auto md:static w-full">
                    <ul class="font-medium flex justify-center space-x-6 md:justify-end">
                        {% set list = navigation.primary %}
                        {% include "partials/navigation.html" %}
                    </ul>
                </div>
            </nav>
        </header>
        <main id="main-content" tabindex="-1">
            {{ content | safe }}
        </main>
        <footer>
            <div class="mx-auto w-full max-w-xl">
                <div class="grid grid-cols-3 gap-8 px-4 py-6">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">Content</h2>
                        <ul>
                            {% set list = navigation.primary %}
                            {% include "partials/navigation.html" %}
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">Social</h2>
                        <ul>
                            {% set list = navigation.socialLinks %}
                            {% include "partials/navigation.html" %}
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">Legal</h2>
                        <ul>
                            {% set list = navigation.footerLinks %}
                            {% include "partials/navigation.html" %}
                        </ul>
                    </div>
                </div>
                <div class="bg-blue-100">
                    <p>Created by Brad, powered by <a href="https://www.11ty.dev" target="_blank" rel="noopener">11ty,</a> Visit <a href="https://github.com/bjeschonek/blog-template" target="_blank" rel="noopener noreferrer">Github repo.</a></p>
                </div>
            </div>
        </footer>
        <script type="module" src="/assets/js/main.js"></script>
        <script type="module" src="/pagefind/pagefind-ui.js" vite-ignore></script>
    </body>
</html>