<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    {% include "partials/meta.html" %} 
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <!-- Add CSS -->
</head>
<body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <header class="site-header" role="banner">
        {% include "partials/header.html" %}
    </header>
    <main tabindex="-1" id="main-content">
        {% block content %}
        <p>CONTENT COMING SOON</p>
        {% endblock %}
    </main>
    <footer role="content-info">
        {% include "partials/footer.html" %}
    </footer>
    <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
    <!-- Possibly defer pagefind and move onload to main.js? -->
    <script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search' })"></script>
</body>
</html>