---
layout: layouts/base.html
---
{% set pageTitle = title %}
{% set postList = pagination.items %}
{% set context = "blog" %}
{% if tag %}
    {% set postList = collections[tag] %}
    {% set pageTitle = 'Posts filed under "' + tag + '"' %}
{% endif %}
<div class="mx-auto max-w-7xl px-6 lg:px-8 py-24 sm:py-30">
    <h1 class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl mb-10">{{ pageTitle }}</h1>
    <div class="mt-8 text-lg text-pretty">
        {{ content | safe }}
    </div>
    {% include "partials/post-list.html" %}
    {% if not tag %}
        {% include "partials/pagination.html" %}
    {% endif %}
</div>