---
layout: layouts/base.html
---
<section class="px-6 lg:px-8 mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 text-center">
    <h1 class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl">{{ heroTitle }}</h1>
    <p class="mt-8 text-lg font-medium text-pretty sm:text-xl/8">{{ heroText }}</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <div id="search"></div>
    </div>
</section>
<section>
    <h2>Recent Posts</h2>
    {% set postList = collections.blog | limitPosts(5) %}
    {% include "partials/post-list.html" %}
</section>