---
layout: layouts/base.html
---
<section class="px-6 lg:px-8 mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 text-center">
    <h1 class="text-5xl font-semibold tracking-tight text-balance sm:text-7xl">{{ heroTitle }}</h1>
    <p class="mt-8 text-lg font-medium text-pretty sm:text-xl/8">{{ heroText }}</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        {% if heroSearchBar %}
        <div id="search"></div>
        {% endif %}
        {% if heroButton %}
        <a href="{{ heroButton.heroButtonLink | url }}" class="rounded-md bg-emerald-950 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-emerald-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-800">{{ heroButton.heroButtonText }}</a>
        {% endif %}
        {% if heroButtonAlt %}
        <a href="{{ heroButtonAlt.heroButtonAltLink | url }}" class="rounded-md bg-emerald-950 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-emerald-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-800">{{ heroButtonAlt.heroButtonAltText }}</a>
        {% endif %}
    </div>
</section>
<section class="py-24 sm:py-32 mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-semibold tracking-tight text-pretty sm:text-5xl">Recent Posts!</h2>
        <p class="mt-2 text-lg/8">Additional information with subtext for the blog recent posts section.</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none">
    {% set postList = collections.blog | limitPosts(5) %}
    {% include "partials/post-list.html" %}
    </div>
</section>