<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="canonical" href="{{ page.url | url | absoluteUrl(site.url) }}">
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="Feed">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="author" content="{{ author or site.author }}">
<meta name="theme-color" content="#000">
{% set pageTitle = title + ' - ' + site.title %}
{% if site.title === title %}
    {% set pageTitle = title %}
{% endif %}
<title>{{ pageTitle }}</title>

<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/pagefind/pagefind-ui.css" vite-ignore>

<link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}" sizes="16x16">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">

<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ title or site.title }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="website">
{% set desc = description %}
{% if not desc %}
    {% set desc = content | striptags | truncate(140) %}
{% endif %}
{% if desc %}
<meta name="description" content="{{ desc | escape }}">
<meta property="og:description" content="{{ desc | escape }}">
{% endif %}
{% if not socialImage %}
    {% set socialImage = site.defaultSocialImage %}
{% endif %}
{% if socialImage %}
<meta property="og:image" content="{{ image | url | absoluteUrl(site.url) }}">
<meta property="og:image:alt" content="Page image for {{ site.title }}">
{% endif %}