<nav aria-label="Page Links" class="flex justify-center mt-12">
    <ul class="flex -space-x-px text-sm">
        <li>
            {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" class="flex items-center justify-center bg-emerald-950 text-zinc-50 box-border border border-zinc-300 hover:bg-emerald-700 hover:text-zinc-300 font-medium text-sm p-3 rounded-s-xl focus:outline-none">
                <span>{{ paginationPrevText }}</span>
            </a>
            {% else %}
            <span aria-label="No previous page" class="flex items-center justify-center bg-emerald-950 text-zinc-50 box-border border border-zinc-300 hover:bg-red-600 hover:text-zinc-300 font-medium text-sm p-3 rounded-s-xl focus:outline-none">Previous</span>
            {% endif %}
        </li>
        {% for everyPage in pagination.pages %}
        {% if page.url == pagination.hrefs[ loop.index0 ] %}
            {% set currentAttribute = 'aria-current="page"' %}
            {% set paginationStyle = 'class="flex items-center justify-center bg-emerald-800 text-zinc-50 box-border border border-zinc-300 hover:bg-emerald-700 hover:text-zinc-300 font-medium text-sm px-4 py-3 focus:outline-none"' %}
        {% else %}
            {% set paginationStyle = 'class="flex items-center justify-center bg-emerald-950 text-zinc-50 box-border border border-zinc-300 hover:bg-emerald-700 hover:text-zinc-300 font-medium text-sm px-4 py-3 focus:outline-none"' %}
        {% endif %}
        <li>
            <a href="{{ pagination.hrefs[ loop.index0 ]}}{{ paginationAnchor }}" {{ currentAttribute | safe }} {{ paginationStyle | safe }}>
                <span>{{ loop.index }}</span>
            </a>
        </li>
        {% endfor %}
        <li>
            {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}{{ paginationAnchor }}" class="flex items-center justify-center bg-emerald-950 text-zinc-50 box-border border border-zinc-300 hover:bg-emerald-700 hover:text-zinc-300 font-medium text-sm px-4 py-3 rounded-e-xl focus:outline-none">
                <span>{{ paginationNextText }}</span>
            </a>
            {% else %}
            <span aria-label="No next page" class="flex items-center justify-center bg-emerald-950 text-zinc-50 box-border border border-zinc-300 hover:bg-red-600 hover:text-zinc-300 font-medium text-sm px-4 py-3 rounded-e-xl focus:outline-none">Next</span>
            {% endif %}
        </li>
    </ul>
</nav>