{% if pagination.href.next or pagination.href.previous %}
<nav aria-label="Page Links" class="flex space-x-6 justify-center">
    <ul class="flex -space-x-px text-sm">
        {% if pagination.href.previous %}
        <li>
            <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" class="flex items-center justify-center bg-zinc-500 text-zinc-300 box-border border border-zinc-500 hover:bg-zinc-400 hover:text-white font-medium text-sm w-9 h-9 rounded-s-md focus:outline-none">
                <span>{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
            </a>
        </li>
        {% endif %}
        {% for pageEntry in pagination.pages %}
        <li>
            <a href="{{ pagination.hrefs[ loop.index0 ]}}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} class="flex items-center justify-center bg-zinc-500 text-zinc-300 box-border border border-zinc-500 hover:bg-zinc-400 hover:text-white font-medium text-sm w-9 h-9 focus:outline-none">
                <span>{{ loop.index }}</span>
            </a>
        </li>
        {% endfor %}
        {% if pagination.href.next %}
        <li>
            <a href="{{ pagination.href.next }}{{ paginationAnchor }}" class="flex items-center justify-center bg-zinc-500 text-zinc-300 box-border border border-zinc-500 hover:bg-zinc-400 hover:text-white font-medium text-sm w-9 h-9 rounded-e-md focus:outline-none">
                <span>{{ paginationNextText if paginationNextText else 'Next' }}</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}