<div id="post-list">
    <ol>
        {% for post in postList %}
            {% set date = post.date %}
            {% set postContent = post %}
            <li>
                {% include "partials/post-metadata.html" %}
                {% if context == "blog" %}
                <h2>
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                </h2>
                {% endif %}
                <h3>
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                </h3>
                <p>{{ post.templateContent | excerpt | safe }}</p>
                <a href="{{ post.url }}">read article.</a>
            </li>
        {% endfor %}
    </ol>
</div>